<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base.html}">
<head>
<title>Home</title>
<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<section layout:fragment="custom-content">
		Hello world!
		<div>
			Logged in user: <b th:inline="text" class="user">
				[[${#httpServletRequest.remoteUser}]] </b>
			<form th:action="@{/logout}" method="POST">
				<input type="submit" value="Logout" />
			</form>
		</div>
	</section>
</body>
</html>