<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base.html}">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet">
<meta charset="ISO-8859-1">
<title>Spring Boot MVC Security using Thymeleaf</title>
<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<section layout:fragment="custom-content">
		<div id="container" class="container">

			<div class="col-sm-4 offset-sm-4 text-center">

				<form th:action="@{/login}" method="POST">
					<fieldset>
						<legend th:text="#{login.formtitle}"></legend>
						<div class="form-group">
							<label for="username" th:text="#{login.username.label}"></label>
							<div class="input-group">
								<input id="username" name="username"
									th:placeholder="#{login.username.placeholder}" type="text"
									class="form-control here">
							</div>
						</div>
						<div class="form-group">
							<label for="password" th:text="#{login.password.label}"></label>
							<div class="input-group">

								<input id="password" name="password"
									th:placeholder="#{login.password.placeholder}" type="password"
									class="form-control here">
							</div>
						</div>
						<div class="form-group">
							<div>
								<input name="rememberme" type="checkbox"
									class="custom-control-input" value="0" /> <label
									class="custom-control custom-checkbox"
									th:text="#{login.rememberme.label}" for="rememberme"> </label>

							</div>
						</div>
						<div class="form-group">
							<input name="login" type="submit" class="btn btn-success"
								th:value="#{login.loginbutton}" />
								<br/>
								 <input name="register"
								type="submit" class="btn btn-primary"
								th:value="#{login.registerbutton}" />
						</div>
					</fieldset>
				</form>

			</div>

		</div>

	</section>
	<footer>
		<p layout:fragment="custom-footer">This is some footer content
			that you can change</p>
	</footer>
</body>
</html>
